.DS_STORE
.idea
jio-exp/jio.iml
jio-exp/target
jio-exp/deploy.sh
jio-exp/settings.xml

jio-http/jio-http.iml
jio-http/target
jio-http/deploy.sh
jio-http/settings.xml

jio-mongodb/jio-mongodb.iml
jio-mongodb/target
jio-mongodb/deploy.sh
jio-mongodb/settings.xml

jio-console/jio-mongodb.iml
jio-console/target
jio-console/deploy.sh
jio-console/settings.xml

jio-test/jio-test.iml
jio-test/target
jio-test/deploy.sh
jio-test/settings.xml

javadoc

*.jfr
jio-test/*.jfr
jio-console/*.jfr
jio-exp/*.jfr
jio-mongodb/*.jfr


jio-http/deploy.sh
jio-http/settings.xml

jio-chatgpt/conf.json
jio-chatgpt/target