.DS_STORE
.idea
jio-exp/jio.iml
jio-exp/target
jio-exp/deploy.sh
jio-exp/settings.xml
jio-exp/*.jfr

jio-http/jio-http.iml
jio-http/target
jio-http/deploy.sh
jio-http/settings.xml

jio-jdbc/jio-http.iml
jio-jdbc/target
jio-jdbc/deploy.sh
jio-jdbc/settings.xml

jio-mongodb/jio-mongodb.iml
jio-mongodb/target
jio-mongodb/deploy.sh
jio-mongodb/settings.xml
jio-mongodb/*.jfr

jio-cli/jio-mongodb.iml
jio-cli/target
jio-cli/deploy.sh
jio-cli/settings.xml
jio-cli/*.jfr
jio-cli/*.log

jio-test/jio-test.iml
jio-test/target
jio-test/deploy.sh
jio-test/settings.xml
jio-test/*.jfr

javadoc

*.jfr

jio-chatgpt/conf.json
jio-chatgpt/target
jio-chatgpt/secret.txt